body {
 
}

* {
  padding: 0px;
  margin: 0px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h3, p, button {
  text-align: center;
  margin: 20px auto 20px auto;
}

button {
  width: 200px;
  height: 40px;
  background: #222222;
  color: white;
}

.buttonWrapper {
  width: 200px;
  height: 40px;
  margin: 20px auto 20px auto;
}

.Navbar {
  height: 40px;
  width: 100vw;
  background: #111111;
  color: white;
}